{% extends 'accounts/base.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
{% block head %}
    {% block extra_headers %}
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link rel="stylesheet" href="{% static 'salary/css/output.css' %}">
            <title>حقوق و دستمزد - اضافه کردن پرسنل جدید</title>
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
            <script
                    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
                    defer
            ></script>
            <script src="{% static 'salary/js/init-alpine.js' %}"></script>
            <link
                    rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
            />
            <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
                    defer
            ></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

            <script src=".{% static 'salary/js/charts-lines.js' %}" defer></script>
            <script src="{% static 'salary/js/charts-pie.js' %}" defer></script>
        </head>
    {% endblock %}
{% endblock %}
{% block title %}{{ super }} نمایش حقوق و دستمزد {% endblock %}
{% block body %}
    <section class="my-32 text-gray-700 dark:text-gray-200 text-center md:text-right">
        <h2 class="text-3xl font-bold mb-12 text-center">فیش حقوقی شما</h2>

        <div class="flex mx-auto max-w-4xl mb-2">
            <button class="w-24 h-8 flex-model gap-1 px-1 text-xs rounded bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-800 tr-model-100"
                    id="pdfButton">دریافت فایل
                <span class="material-symbols-rounded text-gray-600 dark:text-gray-400 hover:text-red-500 tr-model-100">picture_as_pdf</span>
            </button>
        </div>
        <div id="makepdf"
             class="block mx-auto p-2 rounded-lg shadow-lg border bg-white dark:bg-gray-800 dark:border-gray-700 max-w-4xl">
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <div class="font-bold text-gray-800 dark:text-gray-400 text-center my-2 p-2">
                                <div class="mb-2">
                                    <span>{{ wage.person.company }}</span>
                                </div>
                                <div class="mb-2">
                                    <span>فیش حقوقی</span>
                                </div>
                                <div class="mb-2">

                                    <span>{{ month_name }} {{ wage.year }}</span>

                                </div>
                            </div>
                            <div class="grid grid-cols-3 p-2 my-2 rounded border border-gray-600 ">
                                <div class="grid gap-1 p-2 rounded">
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>نام خانوادگی و نام</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span>{{ wage.person.full_name }}</span>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>کد ملی</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span
                                                class="w-96">{{ wage.person.nation_code }}</span>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>وضعیت تأهل</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span>{% if wage.person.marital_status == 'Married' %}
                                            متأهل{% else %}
                                            مجرد{% endif %}</span></div>
                                    </div>
                                </div>
                                <div class="grid gap-1 p-2 rounded">
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>محل خدمت</span></div>
                                        <div class="rounded bg-gray-700 px-2">
                                            <span>{{ decree.organizational_position }}</span>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>عنوان شغلی</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span
                                                class="w-96">{{ decree.job_title }}</span>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>وضعیت تأهل</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span>{% if wage.person.marital_status == 'Married' %}
                                            متأهل{% else %}
                                            مجرد{% endif %}</span></div>
                                    </div>
                                </div>
                                <div class="grid gap-1 p-2 rounded">
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>نام و نام خانوادگی</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span>{{ wage.person.full_name }}</span>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>کد ملی</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span
                                                class="w-96">{{ wage.person.nation_code }}</span>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2">
                                        <div class=""><span>وضعیت تأهل</span></div>
                                        <div class="rounded bg-gray-700 px-2"><span>{% if wage.person.marital_status == 'Married' %}
                                            متأهل{% else %}
                                            مجرد{% endif %}</span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="min-w-full text-center">
                                <div class="grid grid-cols-3 gap-0.5 bg-white dark:bg-gray-800">
                                    <div class="flex flex-col border dark:border-gray-700">
                                        <div class="border dark:border-gray-700 p-1 bg-gray-700">
                                            <span>اطلاعات کارکرد</span></div>
                                        <div class="grid grid-cols-2">
                                            <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                کارکرد روزانه
                                            </span>
                                            <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                {{ wage.working_days }}
                                            </span>
                                        </div>
                                        <div class="grid grid-cols-2">
                                            <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                اضافه کاری
                                            </span>
                                            <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                {{ wage.overtime }}
                                            </span>
                                        </div>
                                        <div class="grid grid-cols-2">
                                            <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                تعطیل کاری
                                            </span>
                                            <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                {{ wage.closed_work }}
                                            </span>
                                        </div>
                                        <div class="grid grid-cols-2">
                                            <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                مأموریت
                                            </span>
                                            <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                {{ wage.mission }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="flex flex-col border dark:border-gray-700">
                                        <div class="border dark:border-gray-700 p-1 bg-gray-700">
                                            <span>حقوق و مزایا</span></div>
                                        <div class="flex flex-col justify-between h-80">
                                            <div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                        حقوق ماهیانه
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.monthly_wage | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                        مبلغ اضافه کاری
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.overtime_wage | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                        حق تعطیل کاری
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.closed_work_wage | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                        حق مأموریت
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.mission_wage | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                        حق خوار و بار
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.right_of_grocery | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                        حق مسکن
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.right_of_house | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                        حق اولاد
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.right_of_children | intcomma:False }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid grid-cols-2 border dark:border-gray-600">
                                            <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-bold text-gray-800 dark:text-gray-200 dark:border-gray-700">
                                                جمع حقوق و مزایا
                                            </span>
                                                <span class="border-l text-sm text-green-900 dark:text-green-500 font-bold px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                {{ wage.sub_total_wage | intcomma:False }}
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col border dark:border-gray-700">
                                        <div class="border dark:border-gray-700 p-1 bg-gray-700"><span>کسورات</span>
                                        </div>
                                        <div class="flex flex-col justify-between h-80">
                                            <div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                      وام
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.loan_received | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                      بیمه
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.insurance | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                      مالیات
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.tax | intcomma:False }}
                                                    </span>
                                                </div>
                                                <div class="grid grid-cols-2">
                                                    <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-400 dark:border-gray-700">
                                                      سایر کسورات
                                                    </span>
                                                    <span class="border-l text-sm text-gray-900 dark:text-gray-200 font-light px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                        {{ wage.other_deductions | intcomma:False }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid grid-cols-2 border dark:border-gray-600">
                                                <span class="border-l px-4 py-2 whitespace-nowrap text-sm font-bold text-gray-800 dark:text-gray-200 dark:border-gray-700">
                                                    جمع کسورات
                                                </span>
                                                <span class="border-l text-sm text-red-900 dark:text-red-500 font-bold px-4 py-2 whitespace-nowrap dark:border-gray-700">
                                                    {{ wage.sub_total_deductions | intcomma:False }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const button = document.getElementById("pdfButton");
        const makepdf = document.getElementById("makepdf");
        {#const {jsPDF} = window.jspdf;#}
        {##}
        {#        const doc = new jsPDF('p', 'pt', 'a4');#}

        const opt = {
            margin: 1,
            filename: '{{ wage.person.last_name }}-{{ month_name }}-{{ wage.year }}',
            image: {type: 'jpeg', quality: 0.98},
            html2canvas: {scale: 4},
            jsPDF: {unit: 'in', format: 'a4', orientation: 'portrait'}
        };
        button.addEventListener("click", function () {
            console.log('pdf button clicked')
            html2pdf().set(opt).from(makepdf).save();
        });
    </script>
{% endblock %}