{% extends 'salary/base.html' %}
{% load static %}
{% block head %}
    {% block extra_headers %}
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>Login - Windmill Dashboard</title>
            <link
                    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
                    rel="stylesheet"
            />
            <script
                    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
                    defer
            ></script>
            <script src="{% static 'salary/js/init-alpine.js' %}"></script>
        </head>
    {% endblock %}
{% endblock %}

{% block title %}{{ super }} حقوق و دستمزد آنلاین {% endblock %}
{% block body %}
    <html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" dir="rtl">
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
        <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
            <div class="flex flex-col overflow-y-auto md:flex-row">
                <div class="h-32 md:h-auto md:w-1/2">
                    <img
                            aria-hidden="true"
                            class="object-cover w-full h-full dark:hidden"
                            src="{% static 'salary/img/create-account-office.jpeg' %}"
                            alt="Office"
                    />
                    <img
                            aria-hidden="true"
                            class="hidden object-cover w-full h-full dark:block"
                            src="{% static 'salary/img/create-account-office-dark.jpeg' %}"
                            alt="Office"
                    />
                </div>
                <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
                    <div class="w-full">
                        <h1
                                class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
                        >
                            ایجاد حساب کاربری
                        </h1>
                        {% if res %}
                            <div class="bg-green-300 border-r-4 border-gray-400 p-4 mb-4"
                                 role="alert">
                                <p class="mb-2 text-gray-700">{{ res }}</p>

                            </div>
                            <div>
                                <a class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                   href="{% url 'accounts:login' %}">
                                    ورود
                                </a></div>
                        {% else %}
                            <form action="" method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="bg-alert border-r-4 border-orange-500 text-orange-700 p-4 mb-4"
                                         role="alert">
                                        <p class="mb-2">لطفاً خطاهای زیر را تصحیح کنید.</p>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <div class="text-sm pr-2" role="alert">
                                                    {{ field.label }}: {{ field.errors|striptags }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <label>{{ form.username.label }}<span class="text-danger small">
                                        *</span></label>
                                {{ form.username }}
                                <label>{{ form.email.label }}<span class="text-danger mb-4 small">
                                        *</span></label>
                                {{ form.email }}
                                <label>{{ form.password.label }}<span class="text-danger mb-4">
                                       *</span></label>
                                <small class="form-text text-muted mb-4 small">
                                    حداقل 8 کاراکتر و دارای یک عدد
                                </small>
                                {{ form.password }}
                                <label>{{ form.password2.label }}<span class="text-danger small">
                                        *</span></label>
                                {{ form.password2 }}

                                {#                            <label class="block text-sm">#}
                                {#                                <span class="text-gray-700 dark:text-gray-400">ایمیل</span>#}
                                {#                                <input#}
                                {#                                        class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mt-1 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"#}
                                {#                                        placeholder="آدرس ایمیل"#}
                                {#                                        name="email"#}
                                {#                                />#}
                                {#                            </label>#}
                                {#                            <label class="block mt-4 text-sm">#}
                                {#                                <span class="text-gray-700 dark:text-gray-400">گذرواژه</span>#}
                                {#                                <input#}
                                {#                                        class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mt-1 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"#}
                                {#                                        placeholder=""#}
                                {#                                        type="password"#}
                                {#                                        name="password"#}
                                {#                                />#}
                                {#                            </label>#}
                                {#                            <label class="block mt-4 text-sm">#}
                                {#                <span class="text-gray-700 dark:text-gray-400">#}
                                {#                  تٔایید گذرواژه#}
                                {#                </span>#}
                                {#                                <input#}
                                {#                                        class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mt-1 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"#}
                                {#                                        placeholder=""#}
                                {#                                        type="password"#}
                                {#                                        name="confirm_password"#}
                                {#                                />#}
                                {#                            </label>#}

                                <div class="flex mt-6 text-sm">
                                    <label class="flex items-center dark:text-gray-400">
                                        <input
                                                type="checkbox"
                                                class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                        />
                                        <span class="mr-2">
                                    <span class="underline">قوانین</span>
                                    را می پذیرم
                                    </span>
                                    </label>
                                </div>

                                <!-- You should use a button here, as the anchor is only used for the example  -->
                                <button type="submit"
                                        class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                >
                                    ایجاد حساب
                                </button>

                                <p class="mt-4">
                                    <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                                       href="{% url 'accounts:login' %}">
                                        حساب کاربری دارید ؟ ورود
                                    </a>
                                </p>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</html>
