{% extends 'salary/base.html' %}
{% load static %}
{% block head %}
    {% block extra_headers %}
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>Register - Ziraad Groups</title>
            <link
                    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
                    rel="stylesheet"
            />
            <script
                    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
                    defer
            ></script>
            <script src="{% static 'salary/js/init-alpine.js' %}"></script>
        </head>
    {% endblock %}
{% endblock %}

{% block title %}{{ super }} بازنشانی گذرواژه {% endblock %}
{% block body %}
    <html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" dir="rtl">
    <!-- ========================= SECTION CONTENT ========================= -->


    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
        <div
                class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
        >
            <div class="flex flex-col overflow-y-auto md:flex-row">
                <div class="h-32 md:h-auto md:w-1/2">
                    <img
                            aria-hidden="true"
                            class="object-cover w-full h-full dark:hidden"
                            src="{% static 'salary/img/forgot-password-office.jpeg' %}"
                            alt="Office"
                    />
                    <img
                            aria-hidden="true"
                            class="hidden object-cover w-full h-full dark:block"
                            src="{% static 'salary/img/forgot-password-office-dark.jpeg' %}"
                            alt="Office"
                    />
                </div>
                <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
                    <div class="w-full">
                        <h4 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">بازنشانی گذرواژه</h4>

                        <form action="{% url 'accounts:reset_password' %}" method="post">
                            {% csrf_token %}
                            {% if res %}
                                <div class="bg-alert border-r-4 border-orange-500 text-orange-700 p-4 mb-4"
                                     role="alert">

                                    <div class="text-sm pr-2" role="alert">
                                        {{ res }}
                                    </div>

                                </div>
                            {% endif %}
                            <div class="form-group px-3 my-4">
                                <input type="password"
                                       class="block w-full px-3 py-1.5 text-base font-normal text-gray-700
                                                       bg-white bg-clip-padding border border-solid border-gray-300
                                                       rounded transition ease-in-out mt-1 mb-4 dark:border-gray-600
                                                       dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                                                       focus:shadow-outline-purple dark:text-gray-300
                                                       dark:focus:shadow-outline-gray form-inputl"
                                       placeholder="گذرواژه" name='password'>
                            </div> <!-- form-group// -->
                            <div class="form-group px-3 my-4">
                                <input type="password"
                                       class="block w-full px-3 py-1.5 text-base font-normal text-gray-700
                                                       bg-white bg-clip-padding border border-solid border-gray-300
                                                       rounded transition ease-in-out mt-1 mb-4 dark:border-gray-600
                                                       dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                                                       focus:shadow-outline-purple dark:text-gray-300
                                                       dark:focus:shadow-outline-gray form-input"
                                       placeholder="تأیید گذرواژه" name='confirm_password'>
                            </div> <!-- form-group// -->
                            <div class="form-group px-3 my-4">
                                <button type="submit"
                                        class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                    بازنشانی
                                </button>
                            </div> <!-- form-group// -->
                            <p class="my-4 text-xs font-semibold text-gray-700 dark:text-gray-200">حساب کاربری ندارید؟
                                <a
                                        href="{% url 'accounts:register_user' %}" class="hover:text-primary
                                        tr-model-100">ثبت نام</a>
                            </p>
                        </form>

                    </div> <!-- card-body.// -->
                </div>
            </div>
        </div>
    </div>



    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->



    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
</html>