<nav class="
  relative
  w-full
  flex flex-wrap
  items-center
  justify-between
  py-4
  bg-gray-100
  text-gray-500
  hover:text-gray-700
  focus:text-gray-700
  shadow-lg
  navbar navbar-expand-lg navbar-light
  ">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <button class="
      navbar-toggler
      text-gray-500
      border-0
      hover:shadow-none hover:no-underline
      py-2
      px-2.5
      bg-transparent
      focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline
    " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                 class="w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor"
                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
            </svg>
        </button>
        <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent">
            <a class="
                flex
                items-center
                text-gray-900
                hover:text-gray-900
                focus:text-gray-900
                mt-2
                lg:mt-0
                ml-1
                " href="{% url 'salary:home_page' %}">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" style="height: 15px" alt=""
                     loading="lazy"/>
            </a>
            <!-- right links -->
            <ul class="navbar-nav flex flex-col pr-0 list-style-none ml-auto">
                <li class="nav-item p-2">
                    <a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="#">Dashboard</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="#">Team</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="#">Projects</a>
                </li>
            </ul>
            <!-- right links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Left elements -->
        <div class="flex items-center relative">
            <!-- Icon -->
            {% if user.is_authenticated %}
                <div class="dropdown relative">
                    <a class="
                  text-gray-500
                  hover:text-gray-700
                  focus:text-gray-700
                  ml-4
                  dropdown-toggle
                  hidden-arrow
                  flex items-center
                " href="#" id="dropdownMenuButton1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell"
                             class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z">
                            </path>
                        </svg>
                        <span class="text-white bg-red-700 absolute rounded-full text-xs -mt-2.5 ml-2 py-0 px-1.5">1</span>
                    </a>
                    <ul class="
                  dropdown-menu
                  min-w-max
                  absolute
                  hidden
                  bg-white
                  text-base
                  z-50
                  float-right
                  py-2
                  list-none
                  text-right
                  rounded-lg
                  shadow-lg
                  mt-1
                  hidden
                  m-0
                  bg-clip-padding
                  border-none
                  right-auto
                  left-0
                " aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="
                          dropdown-item
                          text-sm
                          py-2
                          px-4
                          font-normal
                          block
                          w-full
                          whitespace-nowrap
                          bg-transparent
                          text-gray-700
                          hover:bg-gray-100
                        " href="#">پیام ها</a>
                        </li>
                        <li>
                            <a class="
                          dropdown-item
                          text-sm
                          py-2
                          px-4
                          font-normal
                          block
                          w-full
                          whitespace-nowrap
                          bg-transparent
                          text-gray-700
                          hover:bg-gray-100
                        " href="#">اخطار ها</a>
                        </li>
                        <li>
                            <a class="
                          dropdown-item
                          text-sm
                          py-2
                          px-4
                          font-normal
                          block
                          w-full
                          whitespace-nowrap
                          bg-transparent
                          text-gray-700
                          hover:bg-gray-100
                        " href="#">Something else here</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown relative">
                    <a class="dropdown-toggle flex items-center hidden-arrow" href="#" id="dropdownMenuButton2"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {#                    <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-full"#}
                        {#                         style="height: 25px; width: 25px" alt="" loading="lazy"/>#}
                        <img src="{{ user.image.url }}" class="w-7 h-7 rounded-full"
                              alt="{{ user.username }}" loading="lazy"/>
                    </a>
                    <ul class="
                    dropdown-menu
                    min-w-max
                    absolute
                    hidden
                    bg-white
                    text-base
                    z-50
                    float-left
                    py-2
                    list-none
                    text-right
                    rounded-lg
                    shadow-lg
                    mt-1
                    hidden
                    m-0
                    bg-clip-padding
                    border-none
                    right-auto
                    left-0
                  " aria-labelledby="dropdownMenuButton2">
                        <li>
                            <a class="
                            dropdown-item
                            text-sm
                            font-bold
                            py-2
                            px-4
                            block
                            w-full
                            whitespace-nowrap
                            bg-transparent
                            text-gray-700
                            hover:bg-gray-100
                            border-b
                          " href="#">{{ user.first_name }} {{ user.last_name }}</a>
                        </li>
                        <li>
                            <a class="
                            dropdown-item
                            text-sm
                            py-2
                            px-4
                            font-normal
                            block
                            w-full
                            whitespace-nowrap
                            bg-transparent
                            text-gray-700
                            hover:bg-gray-100
                          " href="{% url 'accounts:dashboard' %}">نمایه کاربری</a>
                        </li>
                        <li>
                            <a class="
                            dropdown-item
                            text-sm
                            py-2
                            px-4
                            font-normal
                            block
                            w-full
                            whitespace-nowrap
                            bg-transparent
                            text-gray-700
                            hover:bg-gray-100
                          " href="#">شرکت ها</a>
                        </li>
                        <li>
                            <a class="
                            dropdown-item
                            text-sm
                            py-2
                            px-4
                            font-normal
                            block
                            w-full
                            whitespace-nowrap
                            bg-transparent
                            text-red-600
                            hover:bg-red-100
                            hover:text-gray-700
                          " href="{% url 'accounts:logout' %}">خروج</a>
                        </li>
                    </ul>
                </div>
                <div class="flex items-center lg:mr-auto">
                    <a href="{% url 'accounts:logout' %}" type="button"
                       class="inline-block px-4 py-2.5 mr-2 bg-transparent text-red-600 font-bold text-xs leading-tight uppercase rounded-full hover:text-red-700 hover:bg-red-100 focus:bg-red-100 focus:outline-none focus:ring-0 active:bg-red-200 transition duration-150 ease-in-out"
                       data-mdb-ripple="true" data-mdb-ripple-color="light">خروج
                    </a>
                </div>
            {% else %}
                <div class="flex items-center lg:mr-auto">
                    <a href="{% url 'accounts:login' %}" type="button"
                       class="inline-block px-6 py-2.5 mr-2 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out"
                       data-mdb-ripple="true" data-mdb-ripple-color="light">ورود
                    </a>
                    <a href="{% url 'accounts:login' %}" type="button"
                       class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                       data-mdb-ripple="true" data-mdb-ripple-color="light">ثبت نام رایگان
                    </a>
                </div>
            {% endif %}
        </div>
        <!-- Left elements -->
    </div>
</nav>